.slider {
  position: relative;
  overflow: hidden;
  background: #fff;
  top: 0px;
  height: 100vh;
  width: 100vw;
  .slide {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    .slide-content {
      position: absolute;
      bottom: 0;
      left: -600px;
      opacity: 0;
      z-index: 1;
      width: 600px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      color: #fff;

      p {
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        margin: 0 15px;
        padding: 5px;
        border: 1px solid #fff;
        background: rgba(0, 0, 0, 0);
        color: #fff;
        border-radius: 3px;

        &:hover {
          color: #f34151;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  .current {
    opacity: 1;
  }
}

.slide.current .slide-content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.slide:first-child {
  background: url("../img/stock-tracker.png") no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url("../img/pokemon-centre.png") no-repeat center center/cover;
}
.slide:nth-child(3) {
  background: url("../img/droptables.png") no-repeat center center/cover;
}

button {
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;

  &#next {
    position: absolute;
    top: 50%;
    right: 15px;
  }

  &#previous {
    position: absolute;
    top: 50%;
    left: 15px;
  }

  &:hover {
    background-color: #333;
    color: #fff;
    transition: ease-in-out;
  }
}

@media (max-width: 700px) {
  .slide .slide-content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .slide-content {
    transform: translateY(-300px);
  }
}
