@import "./slider";

$primary-color: #333;
$secondary-color: #f4f4f4;
$tertiary-color: #f34151;
@mixin easeOut {
  transition: all 0.5s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: 1.5;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  background: $primary-color;
  height: 100vh;
}

.site-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 7%;
  z-index: 1;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  ul {
    list-style: none;
    width: 100%;
    justify-content: center;
    display: flex;
    li {
      margin: 0 1rem;
      padding: 1rem;
    }
    a {
      color: $secondary-color;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $tertiary-color;
        @include easeOut();
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 0.8rem;
  }
}

section#home {
  background: url("../img/desert.JPG") no-repeat center center/cover;
}
